.header-top {
  background-color: #237d26;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 3px;
  padding: 5px 0;
  @media (max-width: 1450px) {
    font-size: 16px;
  }
  @media (max-width: 1000px) {
    display: none;
  }

  a {
    color: inherit;
    font-family: inherit;
    text-decoration: inherit;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 1450px) {
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
    }
  }
}

.header-top__item {
  padding: 0 10px;
  max-width: 410px;
  &:last-child {
    margin: 0 auto;
    margin-right: 0;
  }
}
