.main-catalog {
  padding: 50px 0 100px;
  .wrapper {
    @media (max-width: 1200px) {
      padding: 0;
      max-width: 100%;
    }
  }
}

.main-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    // gap: 0;
  }
}

.main-catalog__item {
  position: relative;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  /* @media (max-width: 1200px) {
    min-height: auto;
    padding: 0;
    background-color: #237d26;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ffffff' fill-opacity='0.07' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    // margin-top: -1px;
    overflow: hidden;
  } */
  /* &:nth-child(even) {
    @media (max-width: 1200px) {
      background-color: #f29f05;
      color: #000000;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ffffff' fill-opacity='0.07' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");

      .main-catalog__button svg {
        fill: none;
        border: 2px solid;
        border-radius: 50%;
      }
    }
  } */
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
    /* @media (max-width: 1200px) {
      display: none;
    } */
  }

  &--big {
    grid-column: span 2;
    grid-row: span 2;
    @media (max-width: 1200px) {
      grid-column: initial;
      grid-row: initial;
    }
  }
  &--long {
    grid-row: span 2;
    @media (max-width: 1200px) {
      grid-column: initial;
      grid-row: initial;
    }
  }
}

.main-catalog__item-header {
  position: relative;
  z-index: 5;
  padding: 20px 40px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-top: auto;
}

.main-catalog__photo {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* @media (max-width: 1200px) {
    display: none;
  } */
}

.main-catalog__details {
  position: relative;
  z-index: 5;
  padding: 20px 45px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
  display: none;
  /* @media (max-width: 1200px) {
    display: flex;
    justify-content: flex-start;
  }
  @media (max-width: 500px) {
    padding: 40px 45px 60px;
  } */
}

.main-catalog__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: inherit;
  margin-right: 15px;
}

.main-catalog__subtitle {
  margin: 0;
  margin-bottom: 40px;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 47px;
  max-width: max-content;
  display: block;
  @media (max-width: 1200px) {
    font-size: 14px;
    font-weight: 500;
  }
}

.main-catalog__category-list {
  list-style-type: disclosure-closed;
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* @media (max-width: 1200px) {
    display: grid;
    grid-gap: 15px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (max-width: 800px) {
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 600px) {
    grid-gap: 20px 50px;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 350px) {
    grid-template-columns: 1fr;
    gap: 10px;
  } */
}

.main-catalog__category-item {
  max-width: 150px;
  width: 100%;
  margin-bottom: 10px;
  @media (max-width: 1200px) {
    font-weight: 700;
    // max-width: max-content;
    margin: 0;
  }
  &--big {
    grid-column: 1/3;
  }
}

.main-catalog__category-link {
  font-size: 18px;
  line-height: 130%;
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  align-items: center;
  margin: 0 20px 10px 0;
  font-weight: 700;
  /* @media (max-width: 1200px) {
    font-size: 22px;
  } */
  @media (max-width: 800px) {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
  &:hover {
    background-size: 100% 2px;
    opacity: 0.7;
  }
}

.main-catalog__button {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
  }

  svg {
    width: 50px;
    height: 50px;
    fill: #ffffff;
    margin-left: 20px;
    @media (max-width: 800px) {
      width: 30px;
      height: 30px;
    }

    path {
      fill: #000000;
    }
  }
}

.main-catalog__item:hover,
.main-catalog__item:active,
.main-catalog__item:focus {
  .main-catalog__button {
    display: flex;
  }
  .main-catalog__details {
    display: flex;
    position: absolute;
    background-color: #237d26;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ffffff' fill-opacity='0.07' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 50px 24px 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /* @media (max-width: 1200px) {
      position: initial;
      background-color: transparent;
      background-image: none;
      padding: 20px 44px;
    } */
  }
}

.main-catalog__list--simple {
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  @media (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  @media (max-width: 450px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .main-catalog__item {
    @media (max-width: 1200px) {
      background-color: transparent;
      background-image: none;
    }
    &:hover .main-catalog__details,
    &:active .main-catalog__details,
    &:focus .main-catalog__details {
      background-color: transparent;
      background-image: none;
      padding: 20px 45px;
    }
    .main-catalog__photo {
      display: block;
    }
  }
  .main-catalog__item .main-catalog__title {
    text-shadow: 5px 3px 7px #000000;
    color: #ffffff;
    @media (max-width: 700px) {
      font-size: 25px;
    }
  }

  .main-catalog__details {
    display: flex;
    @media (max-width: 700px) {
      padding: 20px 25px;
    }
  }
  .main-catalog__button {
    display: flex;
    border: 3px solid #80c41d;
    background-color: #80c41d;
    max-width: max-content;
    align-self: flex-end;
    border-radius: 50px;
    color: #000000;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    padding: 15px 30px;
    font-size: 14px;
    &:hover {
      background: #237d26;
      border-color: #237d26;
      color: #ffffff;
    }
    @media (max-width: 1200px) {
      padding: 0;
      border: none;
      background-color: transparent;
      color: #ffffff;
      align-self: initial;
      margin-top: 70px;
      &:hover {
        background: transparent;
        border-color: transparent;
        color: #ffffff;
      }
    }
  }
}
