.main-menu {
  background-color: #ffffff;
  padding: 10px 0;
  @media (max-width: 720px) {
    top: 0;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    z-index: 11;
    background-color: #ffffff;
  }
}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 720px) {
    flex-direction: column;
    padding: 30px 20px;
  }
}

.main-menu__link {
  display: block;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  &:hover,
  &:active,
  &:focus {
    background-size: 100% 2px;
    opacity: 0.7;
  }
  @media (max-width: 720px) {
    padding: 10px;
    margin-bottom: 10px;
  }
  @media (max-width: 400px) {
    font-size: 16px;
  }
}
